/* Imported font */
@font-face {
    font-family: ailerons;
    src: url(../fonts/ailerons.otf);
}

body {
  margin: 0;
  background-color: white;
  overflow-x: hidden;
}

main {
  background-color: white;
}

  .section__home, .section__past, .section__present, .section__info {
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: white;
    position: relative;
    height: 100vh;
  }

  .section__past {
    height: 108vh;
  }

  .section__present {
    background-image: url(../images/present/bg.png);
    z-index: 700;
  }

  .section__info {
    z-index: 700;
    top: 0;

  }


img {
  &.bgHome {
    height: 100%;
    opacity: 0.6;
    z-index: -100;
  }
  &.mockup {
    width: 300px;
    z-index: 210;
    position: absolute;
    margin-top: 140px;
    margin-left: 17%;
  }
  &.overlay {
    position: absolute;
    margin-left: -40%;
    margin-top: -10%;
    mix-blend-mode: screen;
    width: 60%;
    z-index: 0;
  }


  &.bgPast {
    width: 100%;
    height: 100%;
    z-index: 20;
    position: absolute;
    filter:saturate(1.5);
  }
  &.texturePast {
    width: 100%;
    height: 100%;
    z-index: 25;
    position: absolute;
    mix-blend-mode: overlay;
  }
  &.trees {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 500;
  }
  &.eagle {
    position: absolute;
    width: 20%;
    z-index: 500;
    left: 55%;
    top:32%;
  }



  &.man {
    width: 30%;
    position: relative;
    margin-top: 23%;
    margin-left: 5%;
    z-index: -200;

  }
  &.whiteoverlay {
    position: absolute;
    margin-left: 38%;
    filter: blur(150%);
    z-index: -100;
  }

  &.infoOverlay {
    position: absolute;
    mix-blend-mode: lighten;
    height: 10%;
    width: 60%;
    margin-top: 6%;
    margin-left: -30%;
    filter: blur(90%);
  }

}

.aside__home {
    width: 50%;
    text-align: right;
    float: right;
    padding-right: 10%;
    background-color: white;
    margin-top: -52%;

    &--h1{
      font-size: 6em;
      margin-top: 0px;
      margin-bottom: 0px;
      margin-right: -20px;
      font-family: ailerons;
      font-weight: lighter;
      letter-spacing: 6px;
    }

    &--h2 {
      margin-top: 32%;
      margin-bottom: 0px;
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      letter-spacing: 2px;
    }

    &--p {
      margin-top: 5px;
      font-size: 1.1em;
      margin-bottom: 0px;
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      width: 80%;
      float: right;
      margin-bottom: 42%;
    }
  }

  ul {
    font-weight: 300;
    font-size: 0.9em;
  }

  .aside__past {
      position: absolute;
      width: 50%;
      margin-left: 5%;
      margin-top: 10%;
      text-align: left;
      float: left;
      padding-right: 10%;
      z-index: 200;

      &--h1{
        color: $dark_green;
        font-size: 5.5em;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: -2%;
        font-family: ailerons;
        font-weight: lighter;
        letter-spacing: 6px;
        opacity: 0.2;
      }

      &--h2 {
        margin-bottom: 0px;
        margin-top: 0;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        letter-spacing: 2px;
        opacity: 0.8;
      }

      &--p {
        margin-top: 2%;
        font-size: 1.1em;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        width: 78%;
        margin-bottom: 45%;
        opacity: 0.8;
      }
    }


  .aside__present {
    width: 60%;
    margin-right: 4%;
    margin-top: 10%;
    text-align: right;
    float: right;
    z-index: 1000000;

      &--h1{
        color: #6f3e07;
        font-size: 5.5em;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: -2%;
        font-family: ailerons;
        font-weight: lighter;
        letter-spacing: 6px;
        opacity: 1;
      }

      &--h2 {
        margin-bottom: 0px;
        margin-top: 0;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        letter-spacing: 2px;
        mix-blend-mode: multiply;
      }

      &--p {
        margin-top: 2%;
        margin-left: 39%;
        font-size: 1.1em;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        width: 60%;
        opacity: 0.8;
      }
    }



  .aside__info {
    font-family: lato;
    height: 100vh;
    width: 100%;
    font-weight: 100;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    margin-right: 4%;
    margin-top: 5%;
    text-align: center;
    float: right;
    z-index: 1000000;

      &--h1{
        font-size: 5.5em;
        margin-top: 2%;
        margin-bottom: 20px;
        margin-left: -2%;
        font-family: ailerons;
        font-weight: lighter;
        letter-spacing: 6px;
        opacity: 1;
        background-color: white;
        padding: 10px;
      }
    }

  .article1 {
      position: absolute;
      margin-left: -35%;
      margin-top: 5%;
      background-color: rgba(64,95,4,0.1);
      width: 50%;
      padding-top: 10%;
      padding-bottom: 10%;
      padding-left: 7%;
      padding-right: 7%;
      text-align: left;
      &---h3 {
        font-size: 1.2em;
        font-weight: 500;
        color: #405f04;
        }
        &---p {
          font-weight: 300;
          font-size: 0.9em;
          line-height: 20px;
        }
      }

.article2 {
      position: absolute;
      background-color: rgba(64,95,4,0.1);
      width: 50%;
      padding-top: 10%;
      padding-bottom: 10%;
      padding-left: 7%;
      padding-right: 7%;
      text-align: left;
      margin-left: 70%;
      margin-top: 5%;
      &---h3 {
        font-size: 1.2em;
        font-weight: 500;
        color: #405f04;
      }
      &---p {
        font-weight: 300;
        font-size: 0.9em;
        line-height: 20px;
      }
    }

video {
  width: 35%;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}


@media (max-width: 900px) {
  .aside__home--h1{
    font-size: 5em;
  }

  img.bgHome {
      height:100%;
      opacity: 0.6;
      z-index: -100;
    }
  img.mockup {
      width: 30%;
    }

  img.man {
      margin-top: 35%;
    }
  video {
    margin-top: 25%;
  }
}

@media (max-width: 800px) {
  .aside__home--h1{
    font-size: 4em;
    margin-right: -14%
    }

    .aside__home--h2 {
      margin-top: -10%;
      margin-right: -12%
    }
    .aside__home--p {
      margin-top: 0px;
      margin-right: -12%
    }

  img.mockup {
    display: none;
    }
  img.overlay {
    display: none;
    }
}

@media screen and (max-width: 479px) {


}
